KAFKA_TOPIC=fsm_file_path
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_GROUP_ID=my-group
DB_URL=sqlite:///db.sqlite
PATH_CLEAN=True
INIT_PATH=/home/anselmos/CLEAN_PHOTOS
REDIS_HOST=localhost
REDIS_PASSWORD=redispass